name: Playwright Tests
# This workflow runs Playwright tests on push and pull request events to the Saucedemo, main, and master branches.
# It uses the official Playwright Docker image to ensure a consistent testing environment.
on:
    # push:
    #     branches: [Saucedemo, main, master]
    pull_request:
        branches: [Saucedemo, main, master]
    workflow_dispatch:
permissions:
    contents: read
    actions: read
jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        container:
            image: mcr.microsoft.com/playwright:v1.56.1-noble # official Playwright image
            options: --user 0 # to run as root
        steps:
            - uses: actions/checkout@v5
            - name: Install unzip
              run: apt-get update && apt-get install -y unzip
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - name: Install dependencies
              run: bun install # use bun install
            # - name: Install Playwright browsers
            #   run: npx playwright install msedge # somehow official image does not have msedge installed
            - name: Run Playwright tests
              run: bun x playwright test
